In [ ]:
import sys
from pathlib import Path

root_path = Path.cwd().parent
sys.path.append(str(root_path / "src"))

In [7]:
import pandas as pd
from config.paths import DDIS_PATH

df = pd.read_csv(DDIS_PATH)
df.head()

             d1            d2  type   Neg samples
0  CID000002173  CID000003345     0  CID000004885
1  CID000002173  CID000003345     1  CID000004425
2  CID000002173  CID000003345     2  CID000002617
3  CID000002173  CID000003345     3  CID000003066
4  CID000002173  CID000003345     4  CID000054841